<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446017206722-bt2iqi9bj0qobt04b276dkuauv4vnec7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446017206722-bt2iqi9bj0qobt04b276dkuauv4vnec7</string>
	<key>API_KEY</key>
	<string>AIzaSyCzXCQBP8CrWK3aHVdxwDEJpd6o7bdzZpE</string>
	<key>GCM_SENDER_ID</key>
	<string>446017206722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>atklob.komecariProject</string>
	<key>PROJECT_ID</key>
	<string>komecari</string>
	<key>STORAGE_BUCKET</key>
	<string>komecari.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446017206722:ios:dddb5d4cda2ffadb1bbe5b</string>
</dict>
</plist>